.game-button {
  padding: 10rem 10rem;
  margin: 1rem 1rem;
  border-radius: 10px;
  transition-duration: 0.5s;
}

.game-button-active {
  padding: 10rem 10rem;
  margin: 1rem 1rem;
  border-radius: 10px;
  transition-duration: 0.5s;
  transform: scale(0.95);
  filter: brightness(0);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.button-group {
  display: grid;
  grid-template-columns: 21rem 21rem;
  grid-template-rows: 21rem 21rem;
}

#one {
  background-color: red;
}

#two {
  background-color: blue;
}

#three {
  background-color: greenyellow;
}

#four {
  background-color: violet;
}

.game-button:active {
  transform: scale(0.95);
  filter: brightness(0);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.start {
  padding: 1rem 1rem;
  font-size: xx-large;
  border-radius: 20%;
  position: absolute;
  right: 39rem;
  top: 44rem;
}

.loading {
  padding: 1rem 1rem;
  font-size: xx-large;
  border-radius: 20%;
  position: absolute;
  right: 53rem;
  top: 2rem;
}
